# Global
.DS_Store
.env
*.log
__pycache__/

venv/
# Backend (FastAPI / Python)
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Frontend (React)
Frontend/node_modules/
Frontend/.env
Frontend/build/
Frontend/.cache/
Frontend/.DS_Store

# VSCode
.vscode/

# OS-specific
Thumbs.db
ehthumbs.db
